name: Integration Test

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - master

jobs:
  integration-test:
    name: "Scratch Org Test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: '3.8'
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: '3.6'
      - name: Update Pip
        shell: bash
        run: |
          python -m pip install --upgrade pip
      - name: Locate Pip Cache
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install
        shell: bash
        run: |
          pip install poetry
          poetry install --no-root
      - name: Install SFDX
        shell: bash
        run: |
            wget https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz
            mkdir sfdx-cli
            tar xJf sfdx-linux-amd64.tar.xz -C sfdx-cli --strip-components 1
            ./sfdx-cli/install
      - name: Create Scratch Org
        shell: bash
        run: |
            echo ${{ secrets.DEVHUB_SFDX_URL}} > ./DEVHUB_SFDX_URL.txt
            sfdx force:auth:sfdxurl:store -f ./DEVHUB_SFDX_URL.txt -a DevHub -d
            source assets/scripts/prep-scratch-org.sh
      - name: Run Tests
        shell: bash
        run: |
            source assets/scripts/get-auth-params.sh
            poetry run tox test/test_org
      - uses: codecov/codecov-action@v1
        with:
          flags: integration
          file: ./coverage
      - name: Delete Scratch Org
        if: always()
        run: 'sfdx force:org:delete -p -u amaxa'
      - name: Store Results
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: junit
          path: test-reports
